# Auto detect text files and perform LF normalization on checkout
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and not converted to CRLF
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.svg text eol=lf

# Windows scripts
*.bat eol=crlf
*.cmd eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.docx binary
*.pdf binary
